@using YE

@{
    ViewBag.Title = "Index";
}

<h2 align="center">Admin Home Page</h2>

<a href="https://localhost:44369/Users">Show All Users</a>
<br/>
<a href="https://localhost:44369/Appointments">Show All Appointments</a>


