################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/TheBigBarkSystem
/WebApplication4
/WebApplication3
/WebApplication2
/Picture
