################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/01 - Data Access Layer/bin
/01 - Data Access Layer/obj
/02 - Business Logic /bin
/02 - Business Logic /obj
04 - TheBigBark WebUI/bin
!04 - TheBigBark WebUI/bin/roslyn/
/04 - TheBigBark WebUI/obj
/.vs/TheBigBarkSystem
/WebApplication4
/WebApplication3
/WebApplication2
/Picture
