@using _04___TheBigBark_WebUI.Models
@using YE

@model List<_04___TheBigBark_WebUI.Models.AppointmentModel>

@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Appointment</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    h4 {
        margin-top: 55px;
        margin-bottom: 25px;

    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<script>
    function clearForm() {
        $("input:text").val("");
        $("input[type=date]").val("");
    }
</script>

@using(Html.BeginForm("AdminIndex", "Appointments"))
{
<div class="filter">
    <h4>Filter Options :</h4>
    <div class="form-group">
        <label for="sdate">From: </label>
        <input type="date" name="sdate" id="sdate">
        <label for="edate">To: </label>
        <input type="date" name="edate" id="edate">
    </div>
    <div class="form-group" style="display:inline-block">
        <label for="name">name: </label>
        <input type="text" name="name" id="name">
    </div>

    <input type="submit" value="סנן">
    <input type="button" value="נקה סינון" onclick="clearForm();">
</div>
<hr/>



<table border="1" align="center">
    <tr>
        <th>Appointment ID</th>
        <th>Date</th>
        <th>ID</th>
        <th></th>
    </tr>

    @foreach (AppointmentModel item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Date</td>
            <td>@item.UserName</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

}