@using YE

@model List<Appointment>

@{
    ViewBag.Title = "ShowAllAppointments";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table border="1" align="center">
    <tr>
        <th>Appointment ID</th>
        <th>Data</th>
        <th>User ID</th>
    </tr>

    @foreach (Appointment a in Model)
    {
        <tr>
            <td>@a.AppointmentID</td>
            <td>@a.Date</td>
            <td>@a.UserID</td>
        </tr>
    }

</table>

