@using YE

@model List<Appointment>

@{
    ViewBag.Title = "All Appointments";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table border="1" align="center">
    <tr>
        <th>Appointment ID</th>
        <th>Date</th>
        <th>ID</th>
        <th></th>
    </tr>

    @foreach (Appointment a in Model)
    {
        <tr>
            <td>@a.Id</td>
            <td>@a.Date</td>
            <td>@a.AspNetUser.UserName</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id=a.Id })
            </td>
        </tr>
    }

</table>

