@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Harav mordechai eliyaho 6/26<br />
    Lod, Israel<br />
    <abbr title="Phone">P:</abbr>
    052-525-3955
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@TheBigBark.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@TheBigBark.com</a>
</address>